
li {
	display: inline-block;	
  }
  
li a {
	display: block;
	padding: 20px;
	background-color: #ff000000;
	color:rgb(0, 102, 255);
	font-size: 20px;
  }

li a:hover {
    background-color: rgba(255, 0, 0, 0.329);
}
@media (max-width: 1000px) { 
	body, h1, h2, p    {
	  color: red;
	}
}